.section1_bienvenidos{
    text-align: center;
    margin-top: 15%;
}

.productos_titulo{
    text-align: center;
    font-size: 2rem;
    margin-top: 5%;
    margin-bottom: 5%;
}

.cargando{
    text-align: center;
    margin-top: 5%;
}